$SpacesSizes: (
  0: 0rem,
  1: 1rem,
  2: 2rem,
);

$PaddingsType: (
  pa: padding,
  pt: padding-top
);

@each $classType, $type in $PaddingsType {
    @each $classSize, $size in $SpacesSizes {
      .#{$classType}-#{$classSize} {
        #{$type}: #{$size};
      }
    }
  }

.main__equipo {
    background-color: $color-dark;
    p {
        color: $color-white;
        text-align: justify;
        margin: 15px;
        font-size: 2.1vw; 
        text-align: justify;   
    }

    .img-fluid {
      margin: 15px;
    }

  }