$SpacesSizes: (
  0: 0rem,
  1: 1rem,
  2: 2rem,
);

$PaddingsType: (
  pa: padding,
  pt: padding-top
);

@each $classType, $type in $PaddingsType {
    @each $classSize, $size in $SpacesSizes {
      .#{$classType}-#{$classSize} {
        #{$type}: #{$size};
      }
    }
  }

.main__equipo {
    background-color: $color-dark;
    p {
        color: $color-white;
        text-align: justify;
        margin: auto;
        margin-top: 1.2em;
        font-size: 30px; 
        text-align: justify;   
    }

    .img-fluid {
      margin: auto;
      margin-top: 2em;
    }

  }

  @media (max-width: 768px) {
    .row {
      flex-direction: column;
    }

    .col {
      img {
        height: 100%;
        margin: auto;
      }

      p {
        font-size: 5vw;
      }
    }
  }