.main {
    &__presentacion{
        .carousel-inner{
            height: 75vh;
        }
        .carousel-item{
            height: 75vh;
        }
    }

    &__servicios {
        background-color: $color-dark;
        padding: 3rem;
    }
    .row {
        padding: 1rem;
    }
    .col {
        align-items: center;
    }
    img {
        width: 100%;
    }
    .texto1 {
        color: $color-white;
        text-align: center;
        padding-top: 1.5rem;
        font-size: 2.7vw;
    }

    .texto2 {
        color: $color-white;
        text-align: center;
        padding-top: 1rem;
        font-size: 2.6vw;
    }

    .texto3 {
        color: $color-white;
        text-align: center;
        padding-top: 1.5rem;
        font-size: 2.6vw;
    }

    &__proyectos {
        background-color: $color-grey;
        padding-top: 1rem;
        display: flex;
        flex-direction: row;
        justify-content: space-evenly;
        flex-wrap: wrap;

        img {
            justify-content: space-between;
            width: 30%;
            margin: 1rem;
            transition:all .7s ease;
        }

        img:hover {
            transform:scale(1.15) !important;
        }
    }

    .carousel-caption {
        p{
            font-size: x-large !important;
            color: $color-white !important;
            text-shadow: 2px 2px 2px $color-grey !important;
        }
    }
        
}

@media (max-width: 768px) {

    .texto1 {
        font-size: 100px;
    }

    .main__servicios{
        padding: 1rem
    }


    .main__proyectos{
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        flex-wrap: wrap;
        align-items: center;

        img {
            justify-content: space-between;
            width: 70%;
            margin: 0.5rem*2;
            transition:all .7s ease;
        }
    }

    .carousel , .carousel-inner{
        height: 31vh;
    }

}